*.iml
.gradle
/local.properties
/.idea/*
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
/app/src/debug/res/values/google_maps_api.xml
/app/src/release/res/values/google_maps_api.xml
/gradlew
/gradlew.bat
/gradle/wrapper/
